<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>GatorDesk</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/home'" routerLinkActive="active"> Home </a>
      <a mat-button [routerLink]="'/announcement'" routerLinkActive="active">
        Announcement
      </a>
      <a mat-button [routerLink]="'/lost-and-found'" routerLinkActive="active">
        Lost & Found
      </a>
      <a
        mat-button
        [routerLink]="'/maintenance-request'"
        routerLinkActive="active"
      >
        Maintenance Request
      </a>
    </div>
    <span class="header-spacer"></span>
    <div class="right-margin">
      <button mat-raised-button>Login</button>
      <button mat-raised-button color="primary">Signup</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
