carousel {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

mat-grid-list {
  background-color: #b2dfdb;
}

fa-icon {
  padding: 20px;
  color: #263238;
}

mat-grid-tile p {
  font-size: large;
  letter-spacing: 1px;
  padding-top: 10px;
}

.feature-link {
  padding: 30px;
}
