.footer-spacer {
  flex: 1;
}

.footer {
  width: 100%;
}

.info-container {
  background-color: #4fbdba;
  color: white;
  font-weight: 400;
  font-size: 15px;
}

.copyright-container {
  background-color: #35858b;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 4px;
  color: white;
  font-weight: 400;
  font-size: 15px;
}

.logo {
  font-size: 80px;
  font-weight: bolder;
  text-align: left;
}

.main-icons {
  padding: 0 30px;
}
